.header {
    background-repeat: no-repeat;
    background-image: url(../assets/images/haeder-png.png);
    background-size: cover;
    background-position: center;
}

.header__container {

    padding-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.header__logo {
    width: 246px;
}

.header__title {
    margin-top: 62px;
}

.header__title h2 {
    text-align: center;
}

.header__title h2:last-of-type {
    text-align: end;
}

.header__title h2:first-of-type {
    text-align: start;
}

.header__title p {
    margin-top: 24px;
    text-align: center;
}

.header__buttons {
    margin: 40px;
    display: flex;
    justify-content: center;
    gap: 16px;
}

.header__buttons button {
    width: 263px;
    height: 72px;
    border-radius: 66px;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 500;
    transition: color .4s, background-color .4s;
}

.header__button_support {
    background-color: #1F1F1F;
    color: #FFF;
}

.header__button_support:hover {
    background-color: #FBCE51;
    color: #1F1F1F;
}

.header__button_detailed {
    border: solid #1F1F1F;
}

.header__button_detailed:hover {
    background-color: #1F1F1F;
    color: #FFF;
}


.marquee {
    background-color: #F54932;
    color: #fff;
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 22px;
    line-height: 1.1;
    font-weight: 400;
}

.marquee span {
    display: inline-flex;
    border: solid;
    background-color: #fff;
    margin: .2em;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

@media (max-width: 768px) {
    .header {
        background-image: url(../assets/images/haederApp-png.png);
    }

    .header__container {
        padding: 18px 17px;
    }

    .header h2 {
        font-size: 36px;
    }

    .header__logo {
        width: 213px;
    }

    .header__title {
        margin-top: 40px;
    }

    .header__title p {
        font-size: 18px;
    }

    .header__buttons {
        width: 100%;
        margin: 42px 0 390px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 14px;
    }

    .header__buttons br {
        display: none;
    }

    .header__buttons button {
        width: 100%;
        height: 47px;
    }

    .header__button_detailed {
        background-color: #fff;
        border: none;
    }
}